@model IEnumerable<AgriCalendarViewModel>
@{
    ViewData["Title"] = "AgriCalendar";
}


<div class="page-inner">
    <div class="page-header">
        <a asp-action="AgriCalendarCreate" class="fw-bold mb-3 btn btn-success"><i class="fa fa-plus"></i>&nbsp; Create New</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">कृषि पात्रो व्यवस्थापन</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>क्र.सं.</th>
                                    <th>प्रकार</th>
                                    <th>उत्पादन श्रेणी</th>
                                    <th>उत्पादन</th>
                                    <th>कार्य</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@string.Format("{0}", Model.ToList().IndexOf(item) + 1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                        <td class="text-center d-flex justify-content-evenly"> 
                                            <a asp-action="AgriCalendarCreate" title="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
                                          <a asp-action="AgriCalendarDetails" title="Details" asp-route-id="@item.Id"><i class="fa fa-file-alt" aria-hidden="true"></i></a>
                                          <a asp-action="AgriCalendarDetails" title="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
                                      </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
