@model IEnumerable<AgricultureFarmerGroupViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="page-inner">
    <div class="page-header">
        <a asp-action="Create" class="fw-bold mb-3 btn btn-success"><i class="fa fa-plus"></i>Create New</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Farmer Group</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>क्र.सं.</th>
                                    <th>समूह प्रकार</th>
                                    <th>दर्ता नं</th>
                                    <th>नाम</th>
                                    <th>ठेगाना</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@string.Format("{0}", Model.ToList().IndexOf(item) + 1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AgriGroupType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FirmDartaNo)</td>
                                         <td>@Html.DisplayFor(modelItem => item.FirmName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FirmPalikaName)</td>
                                        <td>
                                            <a asp-action="Create" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                                        </td>
                                        <td>
                                            <a asp-action="GetAgricultureFarmerGroupById" asp-route-id="@item.Id"><i class="fa fa-file" aria-hidden="true"></i>Details</a>
                                        </td>
                                        <td>
                                            <a asp-action="PranamPatra" asp-route-id="@item.Id"><i class="fa fa-file-pdf" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a asp-controller="NabikaranView" asp-action="CreateNabikaran" asp-route-id="@item.Id"><i class="fa fa-dollar-sign " aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a asp-controller="NabikaranView" asp-action="NabikaranDetail" asp-route-id="@item.Id"><i class="fa fa-dollar-sign " aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
